<!-- Start header -->
<header class="top-header">
    <nav class="navbar header-nav navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#"  >
                <div class="title-box">
                <h2 style="font-size: 30px;">OurStory</h2>
              </div></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"   data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
            </button>
            
           
            <div   class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent"   >
                <ul class="navbar-nav">
                    <li><a class="nav-link " routerLink="/">Home</a></li>
                    <li><a class="nav-link" href="#about">About Us</a></li>
                    <li><a class="nav-link" href="#story">Story</a></li>
                   
                    <li><a class="nav-link" routerLink="Blog/Blogwrite"> Create Blog</a></li>
                    <li><a class="nav-link" routerLink="Blog">Blog</a></li>
                    
                    <li  *ngIf="!isAuthenticated()"><a class="nav-link" routerLink="Login">Login</a></li>
                    <li  *ngIf="isAuthenticated()"><a class="nav-link" (click)="LogOut()">LogOut</a></li>
                  

                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End header -->