
  <div class="container">
    <div class="row mb-3">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card">
                <div class="card-body my-3">
                    <form  [formGroup]="reactiveform">
                        <div class="row py-2">
                            <div class="col-md-12">
                                <label for="validationCustomUsername" class="form-label">Email Id</label>
                                <div class="input-group has-validation">
                                  <span class="input-group-text" id="inputGroupPrepend">@</span>
                                  <input type="text" class="form-control" [ngClass]="{'is-valid':reactiveform.controls['email'].valid,'form-control':true,'is-invalid':!reactiveform.controls['email'].valid && reactiveform.controls['email'].touched}" id="validationCustomUsername" formControlName="email">
                                  <div class="invalid-feedback" *ngIf="reactiveform.controls['email'].errors?.['required']">
                                    Please Enter  Email Id
                                  </div>
                                  <div class="invalid-feedback" *ngIf="reactiveform.controls['email'].errors?.['email']">
                                    Please Enter Correct Email Id.
                                  </div>
                                </div>
                              </div>
                        </div>
                       <div class="row py-2">
                        <div class="col-md-12">
                          <label for="validationCustom03" class="form-label">PassWord</label>
                          <input type="password"  id="validationCustom03"  [ngClass]="{'is-valid':reactiveform.controls['password'].valid,'form-control':true,'is-invalid':!reactiveform.controls['password'].valid && reactiveform.controls['password'].touched}" formControlName="password">
                          <div class="invalid-feedback" *ngIf="reactiveform.controls['password'].errors?.['required']">
                            Please Enter PassWord.
                          </div>
                        
                        </div>
                    </div>
                        <div class="col-12">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="invalidCheck" formControlName="rememberMe">
                            <label class="form-check-label" for="invalidCheck">
                              Agree to terms and conditions
                            </label>
                            <div class="invalid-feedback" *ngIf="reactiveform.controls['rememberMe'].errors?.['requiredTrue']">
                              You must agree before submitting.
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100" [type]="submitForm" [disabled]="!reactiveform.valid"(click)="LoginButtonClick()" type="submit">Login</button>
                          </div>
                          <div class="col-12">
                            <p class="small mb-0">Don't have account? <a routerLink="/SignUp">Create an account</a></p>
                          </div>
                      </form>
                </div>
              </div>
        </div>
        <div class="col-1"></div>
    </div>
  </div>