<div *ngIf="dstaLoad">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" [ngClass]="{ 'active': i==0}" *ngFor="let item of navBarModer; let i=index">

        <img src="{{item.imageName}}" class="d-block w-100" alt="..." style="height: 100vh;">
        <h2 class="text-center mb-5 ">         <button class="btns ml-3" [hidden]="!item.enable" (click)="compressFileNav(item)"> <i class="far fa-file-image ml-1" style="font-size: 15px;"></i></button>

          <button class="btns" *ngIf="!item.enable" (click)="OnclickOurNavBar(item)">
          <i class="far fa-edit ml-1" style="font-size: 15px;"></i></button>
          

      </h2>
      <button class="btns" *ngIf="item.enable" (click)="OnclickOurNavbarsave(item)">
        <i class="far fa-save ml-2" style="font-size: 15px;"></i></button>
      
        <div class="carousel-caption d-none d-md-block">
          <div class="lbox-caption">
            <div class="lbox-details">
              <h1>{{item.h1}}</h1>
              <h2>{{item.p}}</h2>
              <p>Save The Date <strong>20 June 2018</strong></p>
              <a href="#" class="btn ">Contact</a>
              <h2>         <button class="btns ml-3" [hidden]="!item.enable" (click)="compressFileNav(item)"> <i class="far fa-file-image ml-1" style="font-size: 15px;"></i></button>

                <button class="btns" *ngIf="!item.enable" (click)="OnclickOurNavBar(item)">
                <i class="far fa-edit ml-1" style="font-size: 15px;"></i></button>
                <button class="btns" *ngIf="item.enable" (click)="OnclickOurNavbarsave(item)">
                  <i class="far fa-save ml-2" style="font-size: 15px;"></i></button>
      
            </h2>

            </div>
          </div>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  <!-- End Banner -->

  <!-- Start About us -->
  <div id="about" class="about-box">
    <div class="about-a1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="title-box">


              <h2>{{this.aboutU.name}} <span>&</span> {{this.aboutUF.name}}</h2>


            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="row align-items-center about-main-info">

              <div class="col-lg-8 col-md-6 col-sm-12">
                <h2> <button class="btns" *ngIf="!aboutUF.enable" (click)="onClickAboutF()">
                    <i class="far fa-edit ml-1" style="font-size: 15px;"></i></button>
                  <button class="btns" *ngIf="aboutUF.enable" (click)="OnclickAboutUFsave()">
                    <i class="far fa-save ml-1" style="font-size: 15px;"></i></button>
                  About <span><input [ngClass]="aboutUF.enable==false?'enableabouttext':'Desenableabouttext'"
                      [(ngModel)]="this.aboutUF.name" [disabled]="!aboutUF.enable" />
                  </span>
                </h2>
                <p> <textarea [ngClass]="aboutUF.enable==false?'enableabouttextarea':'Desenableabouttextarea'"
                    style="width: 100%;" [disabled]="!aboutUF.enable"  [(ngModel)]="this.aboutUF.descrip"></textarea></p>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="about-img">

                  <img [src]="this.aboutUF.imageName" class="img-fluid rounded" loading="lazy" alt="Fresh Orangey" style="width: 100%;height: 70vh;"  />
                  <button class="btns" [hidden]="!aboutUF.enable" (click)="compressFileUF()"> <i class="far fa-file-image ml-1" style="font-size: 15px;"></i></button>
                
                </div>
              </div>

            </div>



            <div class="row align-items-center about-main-info">
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="about-img">
                  <img class="img-fluid rounded" src="{{this.aboutU.imageName}}" alt="" style="width: 100%;height: 70vh;"  />
                  <button class="btns" [hidden]="!aboutU.enable" (click)="compressFileU()"> <i class="far fa-file-image ml-1" style="font-size: 15px;"></i></button>
                
                </div>
              </div>
              <div class="col-lg-8 col-md-6 col-sm-12">
                <h2><button class="btns" *ngIf="!aboutU.enable" (click)="onClickAboutU()"> <i class="far fa-edit ml-1"
                      style="font-size: 15px;"></i></button>
                  <button class="btns" *ngIf="aboutU.enable" (click)="OnclickAboutUsave()">
                    <i class="far fa-save ml-1" style="font-size: 15px;"></i></button>
                  About <span><input [disabled]="!aboutU.enable"  [ngClass]="aboutU.enable==false?'enableabouttext':'Desenableabouttext'"
                      [(ngModel)]="this.aboutU.name" />
                  </span>
                </h2>
                <textarea  [disabled]="!aboutU.enable" [ngClass]="aboutU.enable==false?'enableabouttextarea':'Desenableabouttextarea'"
                  style="width: 100%;" [(ngModel)]="this.aboutU.descrip"></textarea>


              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End About us -->

  <!-- Start Story -->
  <div id="story" class="story-box main-timeline-box">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title-box">
            <h2>Our Story  <button class="btns" (click)="AddStoryBtn()"><i class="far fas fa-plus ml-1" style="font-size: 15px;"></i></button> </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>
        </div>
      </div>

      <div class="row timeline-element separline" [ngClass]="{ 'reverse': odd}"
        *ngFor="let item of ourStorymodel; let odd = odd;  let even = even;">

        <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
          <div class="time-line-date-content">
            <p class="mbr-timeline-date mbr-fonts-style display-font" *ngIf="!item.enable">
              {{item.meetdate| date:'dd MMMM yyyy'}}</p>
            <p class="mbr-timeline-date mbr-fonts-style display-font" *ngIf="item.enable" >
              <input type="date" 
                [(ngModel)]="item.meetdate" style="background-color: #f1f1f1;width: 100%;" />
            </p>

          </div>
        </div>
        <span class="iconBackground"></span>
        <div class="col-xs-12 col-md-6 align-left">
          <div class="timeline-text-content">
            <button class="btns" *ngIf="!item.enable" (click)="OnclickOurStory(item)">
              <i class="far fa-edit ml-1" style="font-size: 15px;"></i></button>
            <button class="btns" *ngIf="item.enable" (click)="OnclickOurStorySave(item)">
              <i class="far fa-save ml-1" style="font-size: 15px;"></i></button>
            <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font"> <input [disabled]="!item.enable"
                [ngClass]="item.enable==false?'enableabouttext':'Desenableabouttext'" [(ngModel)]="item.titleName"
                style="background-color: #f1f1f1;" /></h4>
            <p class="mbr-timeline-text mbr-fonts-style display-7">
              <textarea [disabled]="!item.enable" [ngClass]="item.enable==false?'enableabouttextarea':'Desenableabouttextarea'"
                style="width: 100%;" [(ngModel)]="item.desciption" style="background-color: #f1f1f1;"></textarea>
            </p>
           
            
          </div>
        </div>

      </div>



    </div>
  </div>
  <!-- End Story -->

  <!-- Start Family -->
  <div id="family" class="family-box">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title-box">
            <h2>Family  <button class="btns" (click)="AddFamilybtn()"><i class="far fas fa-plus ml-1" style="font-size: 15px;"></i></button>  </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let item of ourFamily">

          <div class="single-team-member">
            <div class="family-img">
              <img class="img-fluid" src="{{item.imageName}}" alt="" style="width: 100%;height: 50vh;" />
              <button class="btns" [hidden]="!item.enable" (click)="compressFileFamily(item)"> <i class="far fa-file-image ml-1" style="font-size: 15px;"></i></button>
            </div>
            <div class="family-info">
              <button class="btns" *ngIf="!item.enable" (click)="OnclickOurFamily(item)">
                <i class="far fa-edit ml-1" style="font-size: 15px;"></i></button>
              <button class="btns" *ngIf="item.enable" (click)="OnclickOurFamilysave(item)">
                <i class="far fa-save ml-1" style="font-size: 15px;"></i></button>
              <h4> <input [disabled]="!item.enable" [ngClass]="item.enable==false?'enableabouttext':'Desenableabouttext'" [(ngModel)]="item.descs"
                  style="background-color: #f1f1f1;" /></h4>
              <p>
                <input [disabled]="!item.enable" [ngClass]="item.enable==false?'enableabouttext':'Desenableabouttext'" [(ngModel)]="item.relation"
                  style="background-color: #f1f1f1;" />
              </p>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- End Family -->

  <!-- Start Gallery -->
  <div id="gallery" class="gallery-box">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="title-box">
            <h2>Gallery <button class="btns" (click)="AddGallery()"><i class="far fas fa-plus ml-3" style="font-size: 15px;"></i></button> </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <ul class="popup-gallery clearfix">compressFileGallery
            <li *ngFor="let item of OurGallery">
              <a href="{{item.imageName}}" target="_top">
                <img style="width: 100%;height: 50vh;" src="{{item.imageName}}" alt="Please add here image">
                <span class="overlay"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
              </a>
              <button class="btns" [hidden]="!item.enable" (click)="compressFileGallery()"> <i class="far fa-file-image ml-1" style="font-size: 15px;"></i></button>
              <button class="btns" *ngIf="item.enable" (click)="OnClickSavegalley(item)">
                <i class="far fa-save ml-1" style="font-size: 15px;"></i></button>
            </li>


          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Gallery -->

  <!-- Start Events -->
  <div id="events" class="events-box">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title-box">
            <h2>Blog</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let item of postModel">
          <div class="event-inner">
            <div class="event-img">
              <img class="img-fluid" [src]="item.summary" alt="" style="width: 100%;height: 168px;" />
            </div>
            <h2 class="OverFlowchar">{{item.title}}</h2>
            <p class="OverFlowchar">{{item.metaTitle}}</p>

            <a [routerLink]="['Blog/BlogSinglePage',item.id]">Read More ></a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- End Events -->

  <!-- Start Contact -->

</div>
<div class="d-flex justify-content-center" style="align-content: center;align-items: center;height: 100vh;" *ngIf="!dstaLoad">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>